section {
    width: 100vw;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    color: #333;
    font-family: 'Mate', serif;
    background-color: #f0f0f0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    /* text-align: center; */

    ::-webkit-scrollbar {
        width: 10px;
    }
    
    ::-webkit-scrollbar-track {
        background: #EAEDED;
        border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: #3498DB;
        border-radius: 10px;
        border: 2px solid #EAEDED;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background-color: #2980B9;
    }
    
    ::-webkit-scrollbar-button {
        display: none;
    }
    
}